/*Menu superior*/
#menuSuperior {
	text-transform: uppercase;
	font-size: 11px;	
}


#menuSuperior li a {
	color: #7f8887;
}

#menuSuperior li a:hover {
	color: #585858;
}

#menuSuperior nav button {
	width: 100%;
	border: none;
}

#menuSuperior nav button:focus {
	border: none;
	outline: none;
}

#menuSuperior .barra-menu {
	height: 20px;
}

/*Main*/
.titulo {
	color: #322fca;
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 400;
	margin-bottom: 0;
}

.subtitulo {
	color: #7a984c;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 0;
}


/*Main index*/
#mainIndex {
	background-image: url('../img/bck_indx.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 14px 0;
	padding-bottom: 100px;
}

.redes {
	background-image: url('../img/redes.png');
	background-repeat: no-repeat;
	background-size: 32%;
}

.redes a:hover {
	text-decoration: none;
}

.bg-menu-central {
	background-image: url('../img/mn_flor.png');
	background-repeat: no-repeat;

	margin-top: 50px; 
	background-size: 45%;
}

.font-perso {
	font-size: 30px;
}

.button-menu-central {
	padding: 40px 70px;
	margin-top: 27px;
	padding-bottom: 50px;

}

/*footerIndex*/
#footerIndex {
	background-color: #92b7b5;
	padding: 20px 0;
}

#footerIndex .font-footer {
	font-size: 13px;
	color: #3533c5;
	padding-top: 20px;
	font-weight: 400;
}

.text-azul {
	color: #083441;
}

.footer-contato {
	margin-top: 20px;
}

.bg-header {
	background-image: url('../img/bck_pgs.jpg');
	background-repeat: no-repeat;
	background-size: 100% 200px;
	padding: 20px 0;

}

#quem-somos .subtitulo {
	padding-left: 30px;	
	margin-top: 10px;
	font-weight: 400;
}

.bg-azul {
	background-color:  #92b7b5;
}

.assunto-pag {
	margin: 20px 0;
}

.assunto-pag h2 {
	font-size: 23px;
}

.clear-left{
	clear: left
}

.container-texto {
	padding:40px 120px;
}

#footerSubPagina .box-img {
	height: 140px;
}

#footerSubPagina img {
	height: 100%;
	margin: 20px 0;
}

.copyright {
	margin-top: 20px;
	font-size: 12px;
}

.list-container {
	padding: 0 14%;
}

.banner-autopesquisa {
	border-bottom: 50px solid #d9e8e5;
}

.barra {
	background-color: #d9e8e5;
	height: 60px;
}