/*Menu superior*/
#menuSuperior {
	text-transform: uppercase;
	font-size: 14px;	
}


#menuSuperior li a {
	color: #7f8887;
}

#menuSuperior li a:hover {
	color: #585858;
}

#menuSuperior nav button {
	width: 100%;
	border: none;
}

#menuSuperior nav button:focus {
	border: none;
	outline: none;
}

/*Main*/
.titulo {
	color: #322fca;
	text-transform: uppercase;
}

.subtitulo {
	color: #7a984c;
	text-transform: uppercase;
}

/*Main index*/
#mainIndex {
	background-image: url('../img/bck_indx.jpg');
	/*background-size: 100%*/
	padding: 20px;
}




